<p-table #dt1 dataKey="id" [value]="loans" [paginator]="true" [rows]="7"
    [globalFilterFields]="['loanDate', 'paymentDate', 'value', 'userName', 'currency']"
    [tableStyle]="{ 'min-width': '70rem'}" class="inter">
    <ng-template #header>
        <tr>
            <th>#</th>
            <th>Data do Empréstimo</th>
            <th>Data do Pagamento</th>
            <th>Usuário</th>
            <th>Valor</th>
            <th>Moeda</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-loan>
        <tr>
            <td>
                {{loans.indexOf(loan) + 1}}
            </td>
            <td>{{ formatDate(loan.loanDate )}}</td>
            <td>{{ formatDate(loan.paymentDate) }}</td>
            <td>
                {{ loan.userName }}
            </td>
            <td>
                {{ formatCurrency(loan.value, loan.currency) }}
            </td>
            <td>
                {{ loan.currency }}
            </td>
            <td>
                <p-button (onClick)="showLoanData(loan)" icon="pi pi-eye" [outlined]="true"></p-button>
            </td>
        </tr>
    </ng-template>
        <ng-template #emptymessage>
        <tr>
            <td colspan="6">Nenhum empréstimo cadastrado.</td>
        </tr>
    </ng-template>
</p-table>