<p-table #dt1 dataKey="id" [value]="loans" [paginator]="true" [rows]="8"
    [globalFilterFields]="['loanDate', 'paymentDate', 'value', 'userName', 'currency']"
    [tableStyle]="{ 'min-width': '70rem'}" class="inter">
    <ng-template #header>
        <tr>
            <th>#</th>
            <th>Data do Empréstimo</th>
            <th>Data do Pagamento</th>
            <th>Usuário</th>
            <th>Valor</th>
            <th>Moeda</th>
        </tr>
        <!-- <tr>
            <th>
            </th>
            <th>
                <p-columnFilter type="text" field="name" placeholder="Digite para procurar" ariaLabel="Filtrar nome"
                    filterOn="input">
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="phone" placeholder="Digite para procurar"
                    ariaLabel="Filtrar Telefone"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                    <ng-template #filter let-filter="filterCallback">
                        <p-select [options]="statuses" (onChange)="filter($event.value)" placeholder="Selecione"
                            [showClear]="true" style="min-width: 12rem">
                            <ng-template let-option #item>
                                <p-tag [value]="option.value" [severity]="getTagSeverity(option.value)" />
                            </ng-template>
                        </p-select>
                    </ng-template>
                </p-columnFilter>
            </th>
        </tr> -->
    </ng-template>
    <ng-template #body let-loan>
        <tr>
            <td>
                {{loans.indexOf(loan) + 1}}
            </td>
            <td>{{ formatDate(loan.loanDate )}}</td>
            <td>{{ formatDate(loan.paymentDate) }}</td>
            <td>
                {{ loan.userName }}
            </td>
            <td>
                {{ formatCurrency(loan.value, loan.currency) }}
            </td>
            <td>
                {{ loan.currency }}
            </td>
        </tr>
    </ng-template>
</p-table>