<p-table #dt2 dataKey="name" [value]="users" [paginator]="true" [rows]="6" class="inter"
    [globalFilterFields]="['name', 'phone', 'status']" [tableStyle]="{ 'min-width': '70rem', 'min-height': '20rem'}">
    <ng-template #header>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th colspan="2">Status</th>
        </tr>
        <tr>
            <th>
            </th>
            <th>
                <p-columnFilter type="text" field="name" placeholder="Digite para procurar" ariaLabel="Filtrar nome"
                    filterOn="input">
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="phone" placeholder="Digite para procurar"
                    ariaLabel="Filtrar Telefone"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                    <ng-template #filter let-filter="filterCallback">
                        <p-select [options]="statuses" (onChange)="filter($event.value)" placeholder="Selecione"
                            [showClear]="true" style="min-width: 12rem">
                            <ng-template let-option #item>
                                <p-tag [value]="option.value" [severity]="getTagSeverity(option.value)" />
                            </ng-template>
                        </p-select>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-user>
        <tr class="max-h-5">
            <td>
                {{users.indexOf(user) + 1}}
            </td>
            <td>
                {{ user.name }}
            </td>
            <td>{{ formatPhone(user.phone) ?? 'Telefone inválido'}}</td>
            <td class="text-center">
                @switch (user.status) {
                @case ("NO_DEBT") {
                <p-tag [severity]="getTagSeverity(user.status)" value="Sem Débito" [rounded]="true" />
                }
                @case ("PAYING") {
                <p-tag [severity]="getTagSeverity(user.status)" value="Pagando" [rounded]="true" />
                }
                @default {
                <p-tag [severity]="getTagSeverity(user.status)" value="Devendo" [rounded]="true" />
                }
                }
            </td>
            <td>
                <p-button class="me-5" (onClick)="handleEditUser(user)" icon="pi pi-pen-to-square" [outlined]="true"></p-button>

                <p-button (onClick)="handleDeleteUser(user)" [outlined]="true" icon="pi pi-trash" severity="danger"
                    [disabled]="user.status != 'NO_DEBT'"></p-button>
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="4">Nenhum usuário cadastrado.</td>
        </tr>
    </ng-template>
</p-table>