<p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
        <tr>
            <th style="width:50px"></th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template #body let-user>
        <tr>
            <td>  
                <p-avatar icon="pi pi-user" size="normal" shape="circle" />
            </td>
            <td>{{ user.name }}</td>
            <td>{{ user.phone }}</td>
            <td class="text-center">
                @switch (user.status) {
                @case ("no_debt") {
                <p-tag severity="success" value="Sem Débito" [rounded]="true" />
                }
                @case ("paying") {
                <p-tag severity="warn" value="Pagando" [rounded]="true" />
                }
                @default {
                <p-tag severity="danger" value="Devendo" [rounded]="true" />
                }
                }
            </td>
        </tr>
    </ng-template>
</p-table>