.text-side-bar {
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
    line-height: normal;
}

.side-bar-container {
    color: var(--p-text-secondary-color);
    position: relative;
    z-index: 1;
}

.side-bar-container.c-selected {
    color: var(--p-primary-color);
}

.selected {
    background-color: var(--p-surface-0);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.fill-border {
    position: absolute;
    background: var(--p-primary-color);
    background: white;
}

.top-border .radius-border {
    background: var(--p-primary-color);
    border-bottom-right-radius: 50px;
}

.bottom-border .radius-border {
    background: var(--p-primary-color);
    border-top-right-radius: 50px;
}