<p-dialog [header]="user? 'Editar Usuário' : 'Criar Usuário'" [modal]="true" [closeOnEscape]="true"
    [(visible)]="_isVisible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8">Coloque os dados do usuário</span>
    <form [formGroup]="userForm">
        <div class="flex items-center gap-4 mb-4">
            <label for="name" class="font-semibold w-24">Nome</label>
            <input pInputText id="name" class="flex-auto" autocomplete="off" formControlName="name" />
        </div>
        <div class="flex items-center gap-4 mb-8">
            <label for="phone" class="font-semibold w-24">Telefone</label>
            <p-inputmask mask="(99) 9 9999-9999" id="phone" class="flex-auto" autocomplete="off"
                formControlName="phone" />
        </div>
    </form>
    <div class="flex justify-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="handleCancel()" />
        <p-button [label]="user ? 'Salvar' : 'Criar'" (click)="handleSave()" [loading]="" />
    </div>
</p-dialog>